BOT_TOKEN=
ADMIN_ID=
DB_PATH=./database.sqlite

PTERODACTYL_URL=
PTERODACTYL_PTLA=
PTERODACTYL_PTLC=
PTERODACTYL_EGG_ID=
DEFAULT_LOCATION_ID=1
# DEFAULT_ALLOCATION_ID=    # uncomment to use explicit allocation instead of deploy

PAKASIR_SLUG=
PAKASIR_APIKEY=

LOG_LEVEL=INFO
